# Build / Compiled Output Files
dpi_engine
dpi_engine.exe

# Generated Output PCAP Files
output.pcap
blocked_output.pcap
youtube_blocked.pcap

# VS Code Local Configuration Files
.vscode/

# Build / Output Directories
build/

# Local Windows Setup File
WINDOWS_SETUP.md

# Runtime Storage
storage/uploads/*
storage/outputs/*
storage/results/*
storage/reports/*

!storage/uploads/.gitkeep
!storage/outputs/.gitkeep
!storage/results/.gitkeep
!storage/reports/.gitkeep